tr:nth-child(even) {
  background-color: #fcfcfc;
}

tr.highlight {
  background-color: #800000;
}

th:not(.footer) {
  cursor: pointer;
}

.nav {
  display: flex;
}

.nav > div {
  margin-right: 20px;
}

*[itemprop="subjects"],
*[itemprop="trainings"] {
  min-width: 400px;
}

#employees {
  table-layout: auto;
}
